*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    font-size: 0;
}

img{
    vertical-align: bottom;
}

.Yline{
    width:100%;
    height:10px;
    background-color: #FCCB27;
}

.content{
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.info{
    position: relative;
}

.behanceBtn{
    display:inline-block;
    position: absolute;
    top: 73%;
    left: 58%;
    width: 26%;
    border-radius: 15px;
    background-color: #DAB12B;
    transition: .3s;
}

.behanceBtn:hover{
    background-color: #C8A400;
}

.image{
    width:100%;
}

@media (max-width:800px){
    .content{
        grid-template-columns: 1fr;
    }
    .aboutMe{
        grid-row:4/5;
    }
    .Yline{
        height:5px;
    }
}